GROUPID=0 # Your group ID.
OPENCLOUD_KEY=your_openccloud_key_here # Your OpenCloud API key.
KEY=your_key_here # This is the key you pass in as your Authorization header. It's what stops fraudulent requests to your API.
PORT=3000 # The port your app will run on.